.UserList ul {
    list-style-type: none;
    padding-left: 0;
}

.UserList li {
    background-color: lightcoral;
    color: white;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 8px;
    transition: .1s;
}

.UserList li:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}